<div class="jumbotron">
  <div class="container-fluid">
    <h1>Tokoflix Prototype App</h1>
    <p>Look for a movie</p>

    <form (submit)="searchMovies()">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input name="searchQuery" type="text" class="form-control" placeholder="Type movie title (min 3 letters)..." autocomplete="off" [(ngModel)]="searchQuery" (keyup)=autocompleteSearchMovies()>
            <span class="input-group-btn">
            <button class="btn tokoflix search-button" type="submit">Search</button>
            </span>
          </div>
          <div class="suggestions" *ngIf="autocompleteMovies.length > 0">
                <ul >
                    <li *ngFor="let movie of autocompleteMovies" >
                        <a (click)="select(movie.title)">{{movie.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>

<movies-search-result> </movies-search-result>

<div class="panel panel-default">
  <mdb-card style="margin-bottom: 3%;">
  <!-- <div class="panel-heading"> -->
    <mdb-card-header class="tokoflix">
    <h3 style="color: #fff">Now Playing Movies</h3>
    </mdb-card-header>
  <!-- </div> -->
  <!-- <div class="panel-body"> -->
    <mdb-card-body>
      <div class="row" *ngIf="nowPlayingMovies">
        <div *ngFor="let movie of nowPlayingMovies, let i = index" class="tes-wrap">
          <div *ngIf="i <= 5">
            <a href="#" routerLink="/movie/{{movie.id}}-{{movie.title}}" >
              <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
              <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
            </a>
            <h6 class="text-center">{{movie.title}}</h6>
            <!-- <mdb-card-text>{{movie.title}}</mdb-card-text> -->
            <p class="text-center"><strong>Rating: </strong>{{movie.vote_average}}</p>
          </div>
        </div>
      </div>
    </mdb-card-body>
  <!-- </div> -->
  </mdb-card>

<!-- <nav aria-label="Page navigation example">
    <ul class="pagination pagination-circle pg-blue">
      <li class="page-item disabled"><a class="page-link" mdbWavesEffect>First</a></li>
      <li class="page-item disabled">
        <a class="page-link" aria-label="Previous" mdbWavesEffect>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" mdbWavesEffect>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#" mdbWavesEffect>Last</a></li>
    </ul>
  </nav> -->
  <app-pagination-basic></app-pagination-basic>

</div>


<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3>Top Rated Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="topRatedMovies">
      <div *ngFor="let movie of topRatedMovies, let i = index">
        <div *ngIf="i <= 5" class="col-md-2 text-center">
         <a href="#" routerLink="/movie/{{movie.id}}" >
          <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
          <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
        </a>
        <h4 class="text-center">{{movie.title}}</h4>
        <p class="text-center"><strong>Rating: </strong>{{movie.vote_average}}</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Upcoming Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="upComingMovies">
      <div *ngFor="let movie of upComingMovies, let i = index">
        <div *ngIf="i <= 5" class="col-md-2 text-center">
         <a href="#" routerLink="/movie/{{movie.id}}" >
          <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
          <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
        </a>
        <h4 class="text-center">{{movie.title}}</h4>
        <p class="text-center"><strong>Rating: </strong>{{movie.vote_average}}</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Now Playing Movies</h3>
  </div>
  <div class="panel-body">
    <div class="row" *ngIf="nowPlayingMovies">
      <div *ngFor="let movie of nowPlayingMovies, let i = index">
        <div *ngIf="i <= 5" class="col-md-2 text-center">
          <a href="#" routerLink="/movie/{{movie.id}}" >
            <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
            <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
          </a>
          <h4 class="text-center">{{movie.title}}</h4>
          <p class="text-center"><strong>Rating: </strong>{{movie.vote_average}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
