<div *ngIf="moviesService.sharedSearchResult.length > 0">
  <div class="panel panel-default">
    <!-- <div class="panel-heading"> -->
        <mdb-card style="margin-bottom: 3%;">
        <mdb-card-header class="tokoflix">
            <h3 style="color: #fff">Search Results</h3>
            </mdb-card-header>
        <!-- <a (click)="removeSearchResults()" class="btn btn-danger pull-right search-result-remove-btn"> -->
          <span class="glyphicon glyphicon-remove"></span>
        <!-- </a> -->
    <!-- </div> -->
    <div class="panel-body">
        <mdb-card-body>
      <div class="row">
        <div *ngFor="let movie of moviesService.sharedSearchResult, let i = index" class="tes-wrap">
          <!-- <div class="col-md-2 text-center arrange"> -->
            <a href="#" routerLink="/movie/{{movie.id}}" >
              <img *ngIf="movie.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
              <img *ngIf="!movie.poster_path" class="img-thumbnail" src="http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
            </a>
            <h6 class="text-center">{{movie.title}}</h6>
            <!-- <h4 class="text-center">{{movie.title}}</h4> -->
            <p class="text-center"><strong>Rating: </strong>{{movie.vote_average}}</p>
          <!-- </div> -->
        </div>
      </div>
    </mdb-card-body>
    </div>
  </mdb-card>
  </div>
</div>
