<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark tokoflix" style="
    /* background-color: #38bc25 !important; */
    position: fixed;
    width: 100%;
    z-index: 9999;
    margin-top: -5%;">
    <mdb-navbar-brand>
        <!-- start Brand Logo -->
      <a href="#" class="brand-link">
          <img src="/assets/image/Tokopedia_Mascot.png" alt="Tokopedia_Mascote logo" class="brand-image "
                style="opacity: .8"></a>
      <a class="navbar-brand" href="#">TokoFlix</a>
         <!-- end Brand Logo -->
    </mdb-navbar-brand>
    <links>
        <div class="navbar-nav">
            <!-- <a class="nav-item nav-link active waves-light" href="#" mdbWavesEffect>Home <span class="sr-only">(current)</span></a> -->
            <!-- <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Discover</a>
            <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>Movies</a>
            <a class="nav-item nav-link waves-light" href="#" mdbWavesEffect>People</a> -->
        </div>
    </links>
</mdb-navbar>

  <div class="container" style="margin-top:5%">
  
    <router-outlet></router-outlet>
  
  </div>
  
  <hr>
  
  <footer>
    <p class="text-center"> &copy; {{title}} - Powered by <a href="http://themoviedb.org" target="_blank" > TheMovieDB</a> </p>
  </footer>