    
        <div class="row">
          <!-- Basic Example -->
          <div class="col-md-6 mx-auto mt-5">
            <!--Pagination -->
            <nav>
              <ul class="d-flex justify-content-center pagination pagination-circle pg-blue mb-0">
                <!--First-->
                <li class="page-item" [ngClass]="{'disabled': activePage == 1}">
                  <a class="page-link" mdbWavesEffect (click)="firstPage()">First</a>
                </li>
                <!--Numbers-->
                <li #pages *ngFor="let page of pageCount" class="page-item">
                  <a class="page-link" mdbWavesEffect>{{page}}</a>
                </li>
                <!--Last-->
                <li class="page-item" [ngClass]="{'disabled': activePage == 11}">
                  <a class="page-link" mdbWavesEffect (click)="lastPage()">Last</a>
                </li>
              </ul>
            </nav>
            <!--/Pagination -->
            <div class="row">
              <div class="col-md-6 mx-auto my-5">
                <!-- <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="col-1">ID</th>
                      <th class="col-11">Title</th>
      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let post of allPosts">
                      <th *ngIf="post.id >= first && post.id <= last" scope="row">{{post.id}}</th>
                      <td *ngIf="post.id >= first && post.id <= last">{{post.title}}</td>
                    </tr>
                  </tbody>
                </table> -->
                
                <!-- <div class="row" *ngIf="allPosts">
                    <div *ngFor="let post of allPosts, let i = index" class="tes-wrap">
                      <div *ngIf="i <= 5">
                        <a href="#" routerLink="/movie/{{post.id}}-{{post.title}}" >
                          <img *ngIf="post.id >= first && post.id <= last" scope="row">{{post.id}}
                          <img *ngIf="post.id >= first && post.id <= last">{{post.title}}
                          <img *ngIf="post.poster_path" class="img-thumbnail" src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
                          <img *ngIf="!post.poster_path" class="img-thumbnail" src="http://http://ddbu.billiardport.com/img/posters/no_poster_available.jpg">
                        </a>
                        <h6 class="text-center">{{post.title}}</h6>
                        <p class="text-center"><strong>Rating: </strong>{{post.vote_average}}</p>
                      </div>
                    </div>
                  </div> -->

              </div>
            </div>
          </div>
          <!-- Basic Example -->
        </div>