/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

$suggestions-background-color: #f1f1f1;

/* Fix bootstrap fixed navbar overlapping */
// body { 
//   padding-top: 70px; 
// }

.search-button {
  margin-left: 4px!important;
}

.suggestions {
  border:solid 1px $suggestions-background-color;
  position:absolute;
  width:80%;
  background: white;
  z-index: 999;
}

.suggestions ul{
  padding: 0px;
  margin: 0px;
}
.suggestions ul li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.suggestions ul li a {
  padding:5px;
  display: block;
  text-decoration: none;
  color:#7E7E7E;
}

.suggestions 
  ul 
    li 
      a:hover {
        background-color: $suggestions-background-color;
}

.suggestions-nav-bar {
  width:246px;
}

.search-result-remove-btn {
  margin-top: -45px;
}

.img-thumbnail{
    max-width: none !important;
    max-height: 400px !important;
}

.img-thumbnails {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.tes-wrap {
  margin: 3%
}

// .row{
//     margin-right: 0;
//     margin-left: 0;
//     margin-bottom: -5%; 
// }

.jumbotron {
  padding: 1rem 0rem 4rem 2rem;
}

.tokoflix, .page-item.active > a {
  background-color: #38bc25 !important;
}

.brand-image {
  line-height: .8;
  max-height: 53px;
  width: auto;
  margin-left: 0.7rem;
  margin-right: .5rem;
  margin-top: -3px;
  float: none;
}


